<h2>question</h2>
<li><%= @question.title %></li>
<li><%= @question.content %></li>
<%= render partial: 'vote', locals: {object: @question} %>

<div class="add-comment-link">
  <%= link_to 'Add Comment', new_question_comment_path(@question) %>
</div>

<% if @question.comments.any? %>
  <div class="comments">
    Comments:
    <%=render partial: "/comments/comment", locals: {comments: @question.comments}%>
  </div>
<% end %>

<%= render partial: "answers/form", locals: {answer: @answer, question: @question} %>

<section id="answers">
  Answers:
  <%= render @answers %>
</section>

