<div class= "comments-list">
  <% if comments.any? %>
    <%comments.reverse_each do |comment|%>
      <div class="comment">
        <li><%= comment.content %></li>
        <% if owned?(comment)%>
        	<% if comment.commentable_type == "Answer" %>
				<%= link_to 'edit comment',  edit_answer_comment_path(comment.source, comment) %>
       			<%= link_to 'delete comment',  answer_comment_path(comment.source, comment), method: :delete %>
 		    <% else %>
 		    	<%= link_to 'edit comment',  edit_question_comment_path(comment.source, comment) %>
       			<%= link_to 'delete comment',  question_comment_path(comment.source, comment), method: :delete %>
 			<% end %>
         <% end %>
        <li><%= render partial: 'vote', locals: {object: comment} %></li>
        <li>by <%= link_to comment.user.username, user_path(comment.user) %></li>
     </div>
    <%end%>
  <% end %>
</div>
