<!DOCTYPE html>
<html>
<head>
  <title>Bundlestack</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <header>
    <h1><%= link_to 'bundlestack', root_path %></h1>
    <nav>
    <% if current_user %>
      <li><%= link_to 'logout', session_path(session[:user_id]), method: :delete%></li>
      <li><%= link_to 'profile', user_path(session[:user_id]) %></li>
    <% else %>
      <li><%= link_to 'login', new_session_path %></li>
      <li><%= link_to 'register', new_user_path %></li>
    <% end %>
  </nav>
  </header>

<main>
  <div id="flash-messages-container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
  </div>
  <%= yield %>
</main>
</div>
</body>
</html>
